{% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none;
    }
    .receipt-table {
        width: 100%;
        border-collapse: collapse;
    }
    .receipt-table th,
    .receipt-table td {
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }
    .receipt-header {
        text-align: center;
        font-weight: bold;
    }
</style>

<div class="container-fluid">
    <div id="outprint">
        <div class="receipt-header">
            <small>POS</small><br>
            <small>Unofficial Receipt</small>
        </div>
        <hr>
        <table class="receipt-table">
            <tr>
                <td><strong>Date:</strong> {{ transaction.date_added|date:"M d Y" }}</td>
                <td><strong>Transaction Code:</strong> {{ transaction.code }}</td>
            </tr>
        </table>
        <div class="clear-fix py-3"></div>
        <table class="receipt-table">
            <thead>
                <tr>
                    <th>Qty</th>
                    <th>Product</th>
                    <th>Unit Cost</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in salesItems %}
                <tr>
                    <td>{{ item.qty|intcomma|floatformat:0 }}</td>
                    <td>
                        <small>{{ item.item.name }}</small><br>
                    </td>
                    <td><small>{{ item.price|intcomma }}</small></td>
                    <td>{{ item.total|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <table class="receipt-table">
            <tr>
                <td class="text-start fw-bold">Tax <small>(inclusive)</small>: {{ transaction.tax|intcomma }}%</td>
                <td class="text-end fw-bold">{{ transaction.tax_amount|intcomma|floatformat:2 }}</td>
            </tr>
            <tr>
                <td class="text-start fw-bold">Total</td>
                <td class="text-end fw-bold">{{ transaction.grand_total|intcomma }}</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="clear-fix py-3"></div>
    <div class="d-flex w-100 justify-content-end">
        <button class="btn btn-light bg-gradient border rounded-0 btn-sm me-1" type="button" id="receipt_print"><i class="mdi mdi-printer"></i> Print</button>
        <button class="btn btn-secondary bg-gradient border rounded-0 btn-sm" type="button" data-bs-dismiss="modal"><i class="mdi mdi-close"></i> Close</button>
    </div>
</div>

<script>
    $(function() {
        $('#receipt_print').click(function() {
            var head = $('head').clone();
            var p = $('#outprint').clone();
            var el = $("<div>");
            head.append('<style>body{background-color:unset !important}</style>');
            el.append(head);
            el.find('title').text("Receipt - Print View");
            el.append(p);
            start_loader();
            var nw = window.open('', '_blank', "width=800,height=800,left=300, top=200");
            nw.document.write(el.html());
            nw.document.close();
            setTimeout(() => {
                nw.print();
                setTimeout(() => {
                    nw.close();
                    end_loader();
                }, 250);
            }, 300);
        });
    });
</script>
