{% extends "partials/base.html" %} 
{% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-4">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Point of Sales</h4>
        </div>
    </div>
</div>

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card p-4">
        <form action="" id="pos-form">
            <fieldset>
                <legend class="h5">Add Products</legend>
                <div class="row align-items-end mb-3">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div class="form-group">
                            <label for="product-id">Select Product</label>
                            <select id="product-id" class="form-select form-select-sm">
                                <option value="" disabled selected>Select a product</option>
                                {% for product in products %}
                                    <option value="{{ product.pk }}">{{ product }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-12">
                        <div class="form-group">
                            <label for="product-qty">Qty</label>
                            <input type="number" class="form-control form-control-sm text-center" step="any" id="product-qty" value="1" min="1">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-12">
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm rounded-0" type="button" id="add_item">
                                <i class="mdi mdi-plus"></i> Add Item
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <div class="d-flex w-100" id="POS-field">
                    <div class="col-8 bg-light border h-100">
                        <table class="table table-bordered table-hover">
                            <thead class="bg-dark text-light">
                                <tr>
                                    <th class="text-center text-light">Remove</th>
                                    <th class="text-center text-light">QTY</th>
                                    <th class="text-center text-light">Product</th>
                                    <th class="text-center text-light">Price</th>
                                    <th class="text-center text-light">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Items will be appended here -->
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4 bg-gradient border h-100 text-light">
                        <div class="py-4 px-3">
                            <dl>
                                <dt class="h5 text-dark">Sub Total</dt>
                                <dd class="text-end py-1">
                                    <input type="hidden" name="sub_total" value="0">
                                    <span class="h4 text-dark" id="sub_total">0.00</span>
                                </dd>
                                <dt class="h5 text-dark">Tax Inclusive (%)</dt>
                                <dd>
                                    <input type="number" class="form-control form-control-lg rounded-0 text-dark text-end" step="any" readonly  min="0" max="100" name="tax" value="{{tax_rate}}">
                                </dd>
                                <dt class="h5 text-dark">Tax Amount</dt>
                                <dd class="text-end py-1">
                                    <input type="hidden" name="tax_amount" value="0">
                                    <span class="h4 text-dark" id="tax_amount">0.00</span>
                                </dd>
                                <dt class="h5 text-dark">Grand Total</dt>
                                <dd class="text-end py-1">
                                    <input type="hidden" name="grand_total" value="0">
                                    <span class="h4 text-dark" id="grand_total">0.00</span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="col-md-12 text-end">
                    <button class="btn btn-success btn-sm rounded-0" type="button" id="check_out">
                        <i class="mdi mdi-save"></i> Checkout
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<noscript id="item-clone">
    <tr>
        <td class="text-center">
            <button class="btn btn-sm btn-outline-danger rounded-0 rem-item" type="button">
                <i class="mdi mdi-close"></i>
            </button>
        </td>
        <td>
            <input type="hidden" name="product_id[]">
            <input type="hidden" name="price[]">
            <input type="number" name="qty[]" min="0" class="form-control form-control-sm text-center">
        </td>
        <td class="product_name text-start"></td>
        <td class="product_price text-end"></td>
        <td class="product_total text-end"></td>
    </tr>
</noscript>
{% endblock pageContent %}

{% block ScriptBlock %}
<script>
    var product_json = '{{ product_json }}';
    if (product_json == "" || product_json == "{}") {
        product_json = {};
    } else {
        product_json = product_json.replaceAll('&quot;', '"');
        product_json = $.parseJSON(product_json);
    }

    var prod_arr = {};
    if (Object.keys(product_json).length > 0) {
        Object.keys(product_json).map(k => {
            prod_arr[product_json[k].id] = product_json[k];
        });
    }

    function calc() {
        var sub_total = 0;
    
        // Loop through each product row
        $('#POS-field table tbody tr').each(function() {
            var price = parseFloat($(this).find('[name="price[]"]').val()) || 0; // Default to 0 if invalid
            var qty = parseFloat($(this).find('[name="qty[]"]').val()) || 0; // Default to 0 if invalid
            qty = qty > 0 ? qty : 0; // Ensure qty is not negative
            var total = price * qty;
    
            // Update product total in the table row
            $(this).find('.product_total').text(total.toFixed(2).toLocaleString('en-US'));
    
            // Accumulate sub_total
            sub_total += total;
        });
    
        // Fetch tax rate and calculate tax amount
        var tax = parseFloat($('[name="tax"]').val()) || 0; // Default to 0 if invalid
        var tax_amount = sub_total * (tax );
    
        // Update Tax Amount and Tax Inclusive fields
        $('#tax_amount').text(tax_amount.toFixed(3).toLocaleString('en-US')); // Use 3 decimal places for precision
        $('[name="tax_amount"]').val(tax_amount.toFixed(3));
    
        // Calculate grand total
        var grand_total = sub_total + tax_amount;
    
        // Update Grand Total and Sub Total fields
        $('#grand_total').text(grand_total.toFixed(3).toLocaleString('en-US'));
        $('[name="grand_total"]').val(grand_total.toFixed(3));
        $('#sub_total').text(sub_total.toFixed(2).toLocaleString('en-US'));
        $('[name="sub_total"]').val(sub_total.toFixed(2));
    }
    

    $(function() {
        $('#product-id').select2({
            placeholder: "Select Product here",
            width: '100%'
        });

        $('#add_item').click(function() {
            var id = $('#product-id').val();
            var qty = $('#product-qty').val();
            if (id == '' || qty == '' || id == null || qty == null) {
                alert("Product and Quantity Field is required!");
                return false;
            }
            if (!!prod_arr[id]) {
                if ($('#POS-field table tbody input[name="product_id[]"][value="' + id + '"]').length > 0) {
                    alert('Item Already in the List.');
                    return false;
                }
                var data = prod_arr[id];
                var tr = $($('noscript#item-clone').html()).clone();
                tr.find('[name="qty[]"]').val(qty);
                tr.find('[name="product_id[]"]').val(id);
                tr.find('[name="price[]"]').val(data.price);
                tr.find('.product_name').text(data.name);
                tr.find('.product_price').text(parseFloat(data.price).toLocaleString('en-US'));
                tr.find('.product_total').text(parseFloat(data.price * qty).toLocaleString('en-US'));
                $('#POS-field table tbody').append(tr);
                $('#product-id').val('').trigger('change');
                $('#product-qty').val(1);
                calc();
                tr.find('[name="qty[]"]').on('input keypress keyup keydown', function() {
                    calc();
                });
                tr.find('.rem-item').click(function() {
                    if (confirm("Are you sure to remove " + data.name + " product from the list?") == true) {
                        tr.remove();
                        calc();
                    }
                });
            } else {
                alert("Undefined Product");
            }
        });

        $('[name="tax"]').on('input keypress keydown keyup', function() {
            calc();
        });

        $('#check_out').click(function() {
            if ($('#POS-field table tbody tr').length <= 0) {
                alert("Add at least 1 product first!");
                return false;
            }
            uni_modal("Checkout", "{% url 'pos:checkout' %}?grand_total=" + $('[name="grand_total"]').val());
        });

        $('#pos-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this);
            $('.err-msg').remove();
            var el = $('<div>').addClass("alert alert-danger err-msg").hide();
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                url: "{% url 'pos:save-pos' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                dataType: 'json',
                error: function(err) {
                    console.log(err);
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg");
                        uni_modal("Receipt", "{% url 'sales:receipt' %}?id=" + resp.sale_id);
                        $('#uni_modal').on('hide.bs.modal', function() {
                            location.reload();
                        });
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg);
                    } else {
                        el.text("An error occurred");
                    }
                    _this.prepend(el);
                    el.show('slow');
                    $("html, body, .modal").scrollTop(0);
                    end_loader();
                }
            });
        });
    });
</script>
{% endblock ScriptBlock %}
